.dropdown-menu-container {
    background: #333;
    display: inline-block;
    border-radius: 5px;
    padding: 0 10px;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.dropdown-menu > li {
    position: relative;
    margin-right: 20px;
}

.dropdown-menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    min-width: 150px;
    list-style: none;
    padding: 0;
    border-top: 2px solid #ff9f43;
}

.submenu li {
    border-bottom: 1px solid #555;
}

.dropdown-menu li:hover .submenu {
    display: block;
}